html, body 
{
     height: 100%;
     margin: 0;
     padding: 0;
}


body
{
    background-image: url("images/fond.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;
    height: 100vh;
    margin: 0;
    background-color: rgba(6, 30, 252, 0.555);
}
header
{
    display: flex;
    height: 50px;
    border: 1px solid rgba(1, 15, 17, 0.712);
    background-color: rgba(1, 20, 22, 0.658);
    top: 1%;
    left: 2%;
    right: 2%;
    width: 95%;
    position: fixed;
    z-index: 1000;
    
}

header h2
{
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 15px;
}
header h3
{
    color: rgb(255, 255, 255);
    text-align: right;
    padding-right: 50px;
}

.menu-icon
{
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

nav
{
    display: inline-block;
    text-align: center;
    width: 95%;
}
nav ul
{
    list-style-type: none; 
}
nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.1em;
    color: #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #19b9e0ea;
    border-bottom: 3px solid #c5c3da;
}

.pres
{
    text-align: center;
    margin: auto;
    color: #f8f8fdec;
    width: 30%;
    height: auto;
    margin-top: 11%;
    background-color: rgba(1, 15, 17, 0);
}

.pres h2,span
{
    color: #ffffff;
}

.pres p
{
    font-size: 1.1em;
}

.banie
{
    background-color: rgba(1, 15, 17, 0.384);
}

.apr h2
{
    color: #ffffff;
    padding-left: 10%;
    font-size: 4em;
}
.apr p
{

    text-align: left;
    margin-left: 1%;
    color: #ffffff;
    width: 30%;
    height: auto;
    background-color: #00000000;
}

.img
{
    border: 1px solid rgba(1, 15, 17, 0.075);
    color: #ffffffc0;
    background-color: #07070756;
    margin-left: 55%;
    margin-bottom: 8%;
    height: auto;
    width: 40%;
    border-radius: 5px;
}

.img img
{
    width:12% ;
    height: auto;
    float: left;
    margin: 0 10px 10px 0;  
    border-radius:5px;
}

.ter
{
    border: 3px solid rgba(1, 15, 17, 0.808);
    text-align: center;
    box-shadow: 3px 3px 3px rgba(3, 22, 21, 0.644);
    color: #a4dce0ee;
    background-color: rgba(36, 35, 134, 0.466);

}

/*fin de acueil*/

.baniere
{
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: blue;
}  

.baniere p
{
    color: rgba(255, 255, 255, 0.822);
    font-size: large;
}

.baniere h2
{
    border: 1px solid rgba(0, 255, 255, 0.315);
    box-shadow: 3px 3px 3px rgba(0, 204, 255, 0.76);
    border-radius: 4px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.baniere em
{
    color: rgb(51, 127, 179);
}

.app h2
{
    color: rgba(252, 252, 252, 0.952);
}
.app
{
    background-color: rgba(0, 0, 0, 0.514);
}

.app strong
{
    color: rgb(253, 253, 253);
}

 .ban
{
    flex-basis:40%;
    margin: 8px;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.prop ul
{
    color: #ffffff;
}

.con p
{
    font-size: xx-large;
    color: rgb(246, 246, 248);
    text-align: center;
    margin-top: 20%;
}

footer
{
    background-color: rgb(54, 55, 100);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f
{
    flex-basis:40%;
    margin: 8px;
    height: auto;
    border: 3px solid rgba(0, 255, 136, 0.842);
    box-shadow: 6px 6px 6px rgba(0, 255, 149, 0.452);
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.album h2
{
    text-align: center;
    color: #ffffff;
    font-size: 4em;
}
.album 
{
    padding: 1%;
    text-align: center;
    margin-bottom: 10%;
}

.gallery 
{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gallery img 
{
  width: 200px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery a {
  display: inline-block;
}

@media all and (min-width: 545px) and (max-width: 630px){

.pres
{
    width: 90%;
    margin-top: 25%;
}
.apr p
{
    width: 90%;
}
.apr h2
{
    font-size: 2em;
}
nav
{
    width: 85%;
}
nav li
{
    margin-right: 8px;
}
nav a
{
    font-size: 0.8em;

}

}

@media all and (min-width: 311px) and (max-width: 544px){

nav
{
    width: 75%;
    padding-left: 0%;
    text-align: center;
}
nav li
{
    margin-right: 4px;
}
nav a
{
    font-size: 0.5em;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.877);
}  

.pres
{
    width: 90%;
    margin-top: 25%;
}
.apr p
{
    width: 90%;
}
.apr h2
{
    font-size: 2em;
}

.img
{
width: 70%;
margin-left: 10%;
}

header h2
{
    font-size: medium;
    padding-left: 5px;
}
header h3
{
    text-align: center;
    padding-right: 2%;
    padding-top: 4%;
    font-size: 0.5em;
}

.f
{
    flex-basis: 100%;
}

 .ban
{
    flex-basis:100%;
}

.con p
{
    font-size: larger;
    padding-top: 10%;
}

}  

@media (max-width: 310px) {

nav
{
    width: 75%;
    padding-left: 0%;
    text-align: center;
}
nav li
{
    margin-right: 4px;
}
nav a
{
    font-size: 0.3em;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.877);
}  

.pres
{
    width: 90%;
    margin-top: 25%;
}
.apr p
{
    width: 90%;
}
.apr h2
{
    font-size: 2em;
}

.img
{
width: 70%;
margin-left: 10%;
}

header h2
{
    font-size: medium;
    padding-left: 5px;
}
header h3
{
    text-align: center;
    padding-right: 2%;
    padding-top: 3%;
    font-size: 0.5em;
}

.f
{
    flex-basis: 100%;
}

 .ban
{
    flex-basis:100%;
}

.con p
{
    font-size: larger;
    padding-top: 10%;
}

}

